<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1>hello world from ejs</h1>
    <%= dataUser %>
    <img src="/images/Screenshot 2023-09-13 105440.png" style="width: 100%;"/>
</body>
</html>